{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<br>
<div class="container cart-container">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-7 col-sd-12">
      {% if cart_products %}
        {% for product in cart_products %}
          <div class="card product-card mb-5">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">{{ product.name }}</h4><br>
                  <h6>توضیحات محصول: </h6>
                  <p class="card-text">{{ product.description }}</p>

                  {% if product.is_sale %}
                  <p class="card-text">
                    قیمت: <strike>{{ product.price|intcomma }}</strike><br>
                    {{ product.sale_price|intcomma }}
                  </p>
                  {% else %}
                  <p class="card-text">قیمت: {{ product.price|intcomma }}</p>
                  {% endif %}
                  <p class="card-text d-flex align-items-center gap-2">تعداد:
                    <select class="form-select  form-select-sm w-auto" id="select{{product.id}}">
                          {% for key,value in quantities.items %}
                            {% if key == product.id|slugify %}
                                <option selected>{{ value }}</option>
                            {% endif %}
                          {% endfor %}
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                   </p>
                  
                  <!-- <button type="button" data-index={{ product.id }} class="btn btn-primary update-cart">ویرایش</button> -->
                  <button type="button" data-index={{ product.id }} class="btn delete-product">&times;</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        {% else %}
        <div class="text-center my-5" style="font-size: 1.3rem; color: #555;">
          <img src="{% static 'assets/empty-card.png '%}" alt="empty-card" style="width:200px; height: 180px;">
          <h4>سبد خرید شما خالی است.</h4>
          <h6>لطفاً محصولات مورد نظرتان را به سبد خرید اضافه کنید.</h6>
        </div>
      {% endif %}

      <div class="text-center">
        <a href="{% url 'products' %}" class="back-btn">بازگشت به فروشگاه</a>
      </div>
    </div>
    
    {% if cart_products %}
        <div class="col-xl-4 col-lg-5 col-sd-6 payment-container">
          <div class="payment-box">
            <h5 class="payment-title">
              <i class="bi bi-credit-card"></i> اطلاعات پرداخت
            </h5>
        
            <div class="payment-row">
              <span class="label">مبلغ قابل پرداخت:</span>
              <span class="amount">{{ total|intcomma }} <span class="unit">تومان</span></span>
            </div>
        
            <a class="btn payment-btn" href="{% url 'checkout' %}">اقدام به پرداخت</a>
          </div>
        </div>
    {% endif %}
    
    

  </div>
</div>

<br><br><br><br><br>

<script>
  $(document).on('click', '.delete-product', function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: "{% url 'cart_delete' %}",
      data: {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json) {
        location.reload();  
      },
      error: function(xhr, errmsg, err) {
        console.log("خطا در حذف محصول:", err);
      }
    });
  });

  $(document).on('change', 'select.form-select', function(e) {
    e.preventDefault();
    let selectElement = $(this);
    let productid = selectElement.attr('id').replace('select', '');

    $.ajax({
      type: 'POST',
      url: "{% url 'cart_update' %}",
      data: {
        product_id: productid,
        product_qty: selectElement.val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json) {
        location.reload();  
      },
      error: function(xhr, errmsg, err) {
        console.log("خطا در بروزرسانی تعداد:", err);
      }
    });
  });
</script>

{% endblock %}
