{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{%  block content %}

    <!-- Header -->
    <header >
        <div class="intro">
            <img src="{% static 'assets/hero.png'%}" alt="hero">
        </div>
    </header>

    <br>
    {% if cart_products %}
        {% for product in cart_products %}
            <div class="container">
                    <div class="card mb-3" >
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h4 class="card-title">{{ product.name }}</h4><br>
                              <h6>توضیحات محصول: </h6>
                            <p class="card-text">{{ product.description }}</p>

                              {% if product.is_sale%}
                              <p class="card-text">
                                  قیمت:<strike>{{ product.price |intcomma }}</strike><br>
                                  {{ product.sale_price |intcomma }}
                              </p>
                              {% else %}
                                <p class="card-text">قیمت:{{ product.price |intcomma }}</p>
                              {% endif %}
                              <br>


                              <p class="card-text">تعداد:
                                <select class="form-select" id="select{{product.id}}">
                                      {% for key,value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            <option selected>{{ value }}</option>
                                        {% endif %}
                                      {% endfor %}
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                </select>
                               </p>

                              <br>
                              <button type="button" data-index={{product.id}}
                                      class="btn btn-primary update-cart" >ویرایش
                              </button>

                              <button type="button" data-index={{product.id}}
                                      class="btn btn-danger delete-product" >حذف
                              </button>

    <!--                          <a href="{% url 'home' %}" class="btn btn-secondary"> بازگشت به صفحه اصلی</a>-->

                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
            <br>
        <center>
            <h4>مجموع کل سفارشات : {{total|intcomma}}</h4>
        </center><br><br>
        {% else %}
        <center>
            <h3 class="container">سبد خرید شما خالیست!!</h3><br>
        </center>

        {% endif %}

        <div class="text-center">
            <a href="{% url 'home' %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
        </div>


    <!--End Header-->

<br><br><br><br><br>


<script>
        $(document).on('click', '.update-cart', function(e){
        e.preventDefault();

        var productid = $(this).data('index')
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data:{
                product_id: $(this).data('index'),
                product_qty : $('#select'+productid+' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action : 'post'
            },
            success: function(json){
<!--                document.getElementById('cart_quantity').textContent = json.qty-->
                    location.reloaded();
            },
            error:function(xhr, errmsg, err){
            }
        })
        })





    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();


        $.ajax({
            type: 'POST',
            url: '{% url 'cart_delete' %}',
            data:{
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action : 'post'
            },
            success: function(json){
                    location.reload();
            },
            error:function(xhr, errmsg, err){
            }
        })
        })



</script>


{% endblock %}
