@import url('https://fonts.cdnfonts.com/css/iranian-sans');
:root {
    --primary: #ff6600;
    --secondary: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Iranian Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    line-height: 1.4;
    font-weight: bold;
}

img {
    max-width: 100%;
    transition: 0.4s;
}

a {
    text-decoration: none;
    transition: 0.4s ease;
    font-weight: 400;
}

.pt-6 {
    padding-top: 60px;
}

.pb-6 {
    padding-bottom: 60px;
}

.pb-5 {
    padding-bottom: 50px;
}

.pt-5 {
    padding-bottom: 50px;
}


/* navbar */

.nav-item {
    padding: 5px 8px;
}

a.navbar-brand {
    width: 65px !important;
}

a.navbar-brand img {
    width: 100%;
    height: auto;
}

.nav-item a,
.dropdown-item {
    font-size: 14px;
    color: black;
}

.nav-item .active {
    color: var(--primary) !important;
}

.nav-item:hover .nav-link {
    color: var(--primary);
    transition: 0.5s;
}

.btn-cart {
    background-color: var(--secondary);
    color: #ff6600;
    border: 2px solid #ff6600;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-weight: bold;
}

.btn-cart:hover {
    background-color: #ff6600;
    color: var(--secondary);
    border-color: var(--secondary);
}

.cart-badge {
    background-color: #ff6600;
    color: var(--secondary);
    margin-left: 8px;
    border-radius: 50px;
    border: 2px solid var(--secondary);
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
}

.search-nav .search-btn {
    position: relative;
    left: 42px;
    border-radius: 0;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
    background-color: var(--primary);
}

.search-btn i {
    color: var(--secondary);
}


/* End navbar */


/* header */

header .intro {
    width: 100%;
    height: 600px;
}

header .intro img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    header .intro {
        height: 350px;
    }
}


/* End header*/


/* category-slider */

section.product-slider {
    height: 300px !important;
}

.slides-cat a img {
    width: 150px;
    height: 150px;
    margin: auto;
    object-fit: cover;
    border-style: solid;
    border-width: 0;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5)
}

.slides-cat {
    text-align: center;
    margin-top: 10px;
}

.slides-cat .cat-text {
    padding-top: 8px;
}


/*End category-slider */


/* product */

.products-header a {
    font-size: 17px;
    color: black;
    transition: color 0.3s ease;
}

.products-header a:hover {
    color: var(--primary);
}

.pro-item .card {
    background-color: var(--wd-prod-bg, var(--bgcolor-white));
    box-shadow: 0 0 4px rgba(0, 0, 0, .12);
    gap: 0;
}

.card-body {
    padding: 1.2rem;
}

.pro-item * {
    font-size: 14px;
}

.btn-item-info {
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid #ff6600;
    transition: all 0.3s ease;
    /* padding: 0.5rem 1rem; */
}

.btn-item-info:hover {
    background-color: #ff6600c0;
    color: #fff;
    border-color: var(--primary);
}

.card-img-top {
    width: 200px;
    height: 200px;
}


/* End product */


/* login and sign up */

.login-form {
    width: 40%;
}

@media (max-width: 1200px) {
    .login-form {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .login-form {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .login-form {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .login-form {
        width: 90%;
    }
}

.signup-form {
    width: 50%;
}

@media (max-width: 1200px) {
    .signup-form {
        width: 65%;
    }
}

@media (max-width: 992px) {
    .signup-form {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .signup-form {
        width: 85%;
    }
}

@media (max-width: 576px) {
    .signup-form {
        width: 90%;
    }
}

.login-form input,
.signup-form input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    padding: 15px 20px;
    margin-bottom: 18px;
    transition: border 0.3s, box-shadow 0.3s;
}

input:focus {
    border: 1px solid var(--primary) !important;
    box-shadow: 0 0 2px var(--primary) !important;
    outline: none;
}

input::placeholder {
    color: rgb(184, 182, 182);
    font-size: 12px;
}

.login-form h3,
.signup-form h3 {
    margin-bottom: 40px;
}

.login-form button,
.signup-form button {
    width: 60%;
    padding: 15px 20px;
    background-color: var(--primary);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    transition: all .5s ease;
    margin-top: 15px;
}

.login-form button:hover,
.signup-form button:hover {
    background-color: #ff6600e5;
    color: var(--secondary);
    border-color: var(--primary);
}

.signup-form h3 {
    text-align: right;
}


/* End login and sign up */