{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{%  block content %}

    <!-- Header -->
    <header >
        <div class="intro">
            <img src="{% static 'assets/hero.png'%}" alt="hero">
        </div>
    </header>

    <!--End Header-->

    <!-- category-slider -->
        <section class="product-slider pt-5 pb-5">
            <div class="container">
                <div class="category-slider">
                    <div class="slides-cat"  style="text-align: center;">
                           <a href="{% url 'category' 'موبایل' %}">
                                <img src="{% static 'assets/mobile-cat-1.webp'%}" class="rounded-circle" alt="mobile-category">  
                           </a> 
                        <div class="cat-text">موبایل</div>
                    </div>

                    <div class="slides-cat">
                        <a href="{% url 'category' 'تبلت و لپ تاپ' %}">
                            <img src="{% static 'assets/laptop-cat-2.webp'%}" class="rounded-circle" alt="latop-category">  
                        </a>
                        <div class="cat-text">تبلت و لپ تاپ</div>
                    </div>

                    <div class="slides-cat">
                        <a href="{% url 'category' 'ساعت هوشمند' %}">
                            <img src="{% static 'assets/watch-cat-3.webp'%}" class="rounded-circle" alt="watch-category">  

                        </a>
                        <div class="cat-text">ساعت هوشمند</div>
                    </div>
                    <div class="slides-cat">
                        <a href="{% url 'category' 'هندزفری' %}">
                            <img src="{% static 'assets/earphone-cat-4.webp'%}" class="rounded-circle" alt="earphone-category">  
                        </a>
                        <div class="cat-text">هندزفری</div>
                    </div>
                    <div class="slides-cat">
                        <a href="{% url 'category' 'لوازم جانبی' %}">
                            <img src="{% static 'assets/widget-cat-5.webp'%}" class="rounded-circle" alt="widget-category">  
                        </a>
                        <div class="cat-text">لوازم جانبی</div>
                    </div>
                    <div class="slides-cat">
                        <a href="{% url 'category' 'گیمینگ' %}">
                            <img src="{% static 'assets/gaming-cat-6.webp'%}"  alt="gaming-category">  
                        </a>
                        <div class="cat-text">گیمینگ</div>
                    </div>
                </div>
            </div>
        </section>
    <!-- End category-slider -->


     <!--Product Section-->
     <section >
         <div class="container px-4 px-lg-5 mt-5">
            <h2 class="section-title">جدترین محصولات</h2>
             <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                 {% for item in products %}
                    {% if item.is_sale %}
                         <div class="col mb-5 pro-item">
                             <div class="card h-100 align-items-center">
                                 <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">تخفیف ویژه</div>
                                 <img class="card-img-top" src="{{ item.picture.url }}" alt="..." />
                                 <div class="card-body">
                                     <div class="text-center">
                                         <h5 class="fw-bolder">{{ item.name }}</h5>

                                         <div class="d-flex p-1 justify-content-center small text-warning mb-2">
                                             {% with ''|center:item.star as range %}
                                                 {% for _ in range %}
                                                    <div class="bi-star-fill"></div>
                                                 {% endfor %}
                                             {% endwith %}
                                         </div>

                                         <strike>{{ item.price | intcomma }} تومان</strike><br>
                                         {{ item.sale_price | intcomma }} تومان
                                     </div>
                                 </div>
                                 <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                     <div class="text-center"><a class="btn btn-outline-dark mt-auto btn-item-info" href="{% url 'product' item.id%}">مشاهده محصول</a></div>
                                 </div>
                             </div>
                         </div>
                     {% else %}
                         <div class="col mb-5 pro-item">
                             <div class="card h-100 align-items-center">
                                 <img class="card-img-top" src="{{ item.picture.url }}" alt="..." />
                                 <div class="card-body">
                                     <div class="text-center">
                                         <h5 class="fw-bolder">{{ item.name }}</h5>

                                         <div class="d-flex p-1 justify-content-center small text-warning mb-2">
                                             {% with ''|center:item.star as range %}
                                                {% for _ in range %}
                                                    <div class="bi-star-fill"></div>
                                                {% endfor %}
                                             {% endwith %}
                                         </div>
                                         {{ item.price | intcomma }} تومان
                                     </div>
                                 </div>
                                 <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                     <div class="text-center"><a class="btn btn-outline-dark mt-auto btn-item-info" href="{% url 'product' item.id%}">مشاهده محصول</a></div>
                                 </div>
                             </div>
                         </div>
                    {% endif %}
                 {% endfor %}
             </div>
         </div>
     </section>
{% endblock %}
