{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container login-form ">
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post" action="{% url 'login' %}" novalidate>
                {% csrf_token %}
                <h3 style="font-size: 30px">ورود</h3>

                <div class="mb-3">
                    <input 
                      type="text" class="form-control {% if form_errors.username %}is-invalid{% endif %}" name="username" placeholder="نام کاربری" value="{{ username|default:'' }}">
                    {% if form_errors.username %}
                      <div class="invalid-feedback" style="display: block;">
                        {{ form_errors.username }}
                      </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <input 
                      type="password" class="form-control {% if form_errors.password %}is-invalid{% endif %}" 
                      name="password" placeholder="رمز عبور">
                    {% if form_errors.password %}
                      <div class="invalid-feedback" style="display: block;">
                        {{ form_errors.password }}
                      </div>
                    {% endif %}
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-secondary">ورود</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br>
{% endblock %}
