{% extends 'base.html' %}

{% block content %}
 
<br><br>
<div class="container login-form ">
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h3 style="font-size: 30px">ورود</h3>
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="نام کاربری ">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="رمز عبور">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-secondary">ورود</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <form method="post" action="{% url 'login' %}">
                              {% csrf_token %}
                              <div class="mb-3">
                                <input type="text" class="form-control" name="username" placeholder="نام کاربری را وارد کنید" >
                              </div>
                              <div class="mb-3">
                                <input type="password" class="form-control" name="password" placeholder="رمز خود را وارد کنید" >
                              </div>
                              <button type="submit" class="btn btn-secondary">ورود</button>
                        </form>
                    </p>
                </div>
            </center>
        </div> -->
    </div>
<br><br>
{% endblock %}