{% load static %}
<!-- Navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'assets/logo.png '%}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}"> خانه </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> درباره ما </a></li>

                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> خروج </a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> ورود </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"> ثبت نام </a></li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="{% url 'home' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false"> فروشگاه </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'products' %}"> همه محصولات </a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="{% url 'category' 'موبایل' %}"> موبایل </a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'تبلت و لپ تاپ' %}"> تبلت و لپ تاپ</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'ساعت هوشمند' %}"> ساعت هوشمند </a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'هندزفری' %}"> هندزفری </a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'لوازم جانبی' %}"> لوازم جانبی </a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'گیمینگ' %}"> گیمینگ </a></li>
                    </ul>
                </li>
            </ul>

            <!-- <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form> -->

            <form class="d-flex">
                <a href="{% url 'cart_summery' %}" class="btn btn-cart">
                    <i class="bi-cart-fill me-1"></i>
                    <span class="badge cart-badge" id="cart_quantity">{{ cart|length }}</span>
                </a>
            </form>

        </div>
    </div>
</nav>

<!--End Navbar-->