{% extends 'base.html' %}
{% load humanize %}

{% block content %}
     <header >
         <div class="container px-4 px-lg-5 my-5">
             <div class="text-center text-white">
                 <h1 class="display-4 fw-bolder" style="color: #ff6600 ;"> داشبورد</h1>
                 <p class="lead fw-normal mb-0" style="color: black;"> سفارشات </p>
             </div>
         </div>
     </header>

<br><br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                  <h3> جزییات سفارش </h3>


                    <div class="card">
                      <div class="card-header">
                        سفارش {{order.id}} - {{order.amount_paid|intcomma}}
                      </div>
                      <div class="card-body">
                          به نام: {{order.full_name}}<br>
                          ایمیل: {{order.email}}<br>
                          آدرس {{order.shipping_address}}<br>
                          {{order.date_ordered|date:"Y-m-d H:i:s"}} تاریخ ثبت سفارش <br>
                          {{order.last_update|date:"Y-m-d H:i:s"}} آخرین ویرایش<br>
                          وضعیت {{order.get_status_display}}

                          <hr>
                          کالاها<br>
                          {% for item in items %}
                            {{item.product}} |  تعداد {{item.quantity}}  | قیمت {{item.price|intcomma}}
                          {% endfor %}
                      </div>
                    </div>
                    <br>
                    <a href="{% url 'orders' %}" class="btn btn-primary">بازگشت به سفارش</a>
                  </div>
            </center>
        </div>
    </div>

<br><br>
{% endblock %}