{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <form method="post" action="{% url 'signup' %}" class="signup-form">
                              {% csrf_token %}
                                    <h3 style="font-size: 30px">ثبت نام</h3>
                                    {{ form.as_p }}
                                    <!-- <br><br> -->
                              <button type="submit" class="btn btn-secondary">ثبت نام</button>
                        </form>
                    </p>
                </div>
            </center>
        </div>
    </div>
<br><br>
{% endblock %}